<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Conversor de Temperaturas{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="container">

        <header class="cabecalho">
            <div class="icone">🌡️</div>

            <h1>Conversor de Temperaturas</h1>

            <p>
                Converta temperaturas de forma simples,
                rápida e precisa.
            </p>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            Feito com 💗 em Python + Flask
        </footer>

    </main>

</body>

</html>
